################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FoodMenuApplication/bin/Debug/net8.0
/.vs
/FoodMenuApplication/obj
